<app-navbar></app-navbar>

<h1 style="text-align: center;">Registro de productos</h1>

<!--<div class="container">


<form [formGroup]="formProducto" (ngSubmit)=submit()>
    <label>Nombre</label><br>
    <input type="text" formControlName="nombre" class="form-control" maxlength="10" required><br>
    <div *ngIf="this.formProducto.controls['nombre'].errors?.['required']">
      Debe completar Nombre
    </div>
    <div *ngIf="this.formProducto.controls['nombre'].errors?.['minlength']">
       Debe tener minimo 10 caracteres
    </div><br>
    <label>precio</label><br>
    <input type="text" formControlName="precio" class="form-control">
    <div *ngIf="this.formProducto.controls['precio'].errors?.['minlength']">
        Debe tener minimo 2 caracteres
     </div><br>
    <div *ngIf="this.formProducto.controls['precio'].errors?.['required']">
        Debe colocar precio valido
    </div><br>
    <label>Descripcion</label><br>
    <textarea rows="10" cols="20" formControlName="descripcion" class="form-control"></textarea>
    <div *ngIf="this.formProducto.controls['descripcion'].errors?.['required']">
        <p>debe completar descripcion</p>
    </div>
    <div *ngIf="this.formProducto.controls['asunto'].errors?.['maxlength']">
        <p>debe tener maximo 20 caracteres</p>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>

    
</form>
</div>


<table class="table" border="1">

  
    <th scope="col">Nombre</th>
    <th scope="col">email</th>
    <th scope="col">mensaje</th>
<tr *ngFor="let producto of productos">
  
  <td>{{producto.nombre}}</td>
  <td>{{producto.precio}}</td>
  <td>{{producto.descripcion}}</td>
</tr>



</table> -->


    <div class="container">
    <form [formGroup]="userForm">
      <div class="mt-5">
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-group">
              <label > Nombre </label>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                  <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese nombre" required>
               </div>
               <div *ngIf="this.userForm.controls['nombre'].errors?.['required']" style="color: red; font-style: italic;">
                Debe completar nombre
              </div>
               <div *ngIf="this.userForm.controls['nombre'].errors?.['minlength']" style="color: red; font-style: italic; "maxlength="10" >
                Debe tener minimo 2 caracteres
                 </div>
                
            </div>
            <div class="form-group">
                <label > Precio </label>
              </div>
              <div class="form-row">
                  <div class="col-md-6">
                    <input type="number" formControlName="precio" class="form-control" placeholder="Ingrese precio" required>
                 </div>
                 <div *ngIf="this.userForm.controls['precio'].errors?.['required']" style="color: red; font-style: italic;">
                  Debe completar precio
                </div>
                  
              </div>
              <div class="form-group">
                <label > Descripcion </label>
              </div>
              <div class="form-row">
                  <div class="col-md-6">
                    <input type="text" formControlName="descripcion" class="form-control" placeholder="Ingrese descripcion" required>
                 </div>
                 <div *ngIf="this.userForm.controls['descripcion'].errors?.['required']" style="color: red; font-style: italic;">
                  Debe completar descripcion
                </div>
                  <br>
              </div>
              <!--Imagen-->
              <div class="form-row">
                <div class="col-md-6">
                  <input type="file" id="filechooser" formControlName="imagen" class="form-control">
               </div>
                    
            </div>
              
          <br>
          <div class="form-row mt-4">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" (click)="addItem()">Agregar Producto</button> &nbsp; &nbsp; 
              <button type="button" class="btn btn-secondary" (click)="reset()">Limpiar campos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
    <div class="col-md-8 mt-4 mb-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripcion</th>  
            <th>Imagen</th>         
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let item of listData">
            <td>{{item.nombre}}</td>
            <td>${{item.precio}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.imagen}}</td>
            
            <td><button type="button" class="btn btn-primary" (click)="removeItems(item)">Borrar</button></td>
          </tr>
        </tbody>
      </table>
    </div>




   

    
  
